---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Velocity",
		desc: "Our in-house performance web stack.",
		href: "https://aidxn.com/web-design/velocity",
	},
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Stripe",
		desc: "We use Stripe to handle payments securely for clients at the lowest fee.",
		href: "https://www.stripe.com/",
	},
	{
		title: "MDX",
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
	},
	{
		title: "Magento",
		desc: "An e-commmerce solution for supporting custom website designs.",
		href: "https://github.com/vercel/satori",
	},
	{
		title: "Wordpress",
		desc: "An open-source CMS that at one point powered over 65% of the internet.",
		href: "https://wordpress.com/",
	},
	{
		title: "Shopify",
		desc: "The industry-leading technology for scaling B2B and B2C businesses.",
		href: "https://shopify.com/",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Web Design Discussions by Aiden Wood</h1>
		<p class="mb-4">
			Hey, I've been a web designer for over 10 years and currently am freelancing as Aidxn Design.
			Over the years I have worked with a range of frameworks and stacks. I have specialised for the
			last 6 years in high-performance website design which leads to improved SEO and reduced cost
			per aquisition. That has always been a mouthful that is still hard for most people to
			visualise, so I expand on those ideas here to give business owners a better understanding of
			website design, SEO tricks and digital marketing. If you'd like to work together,
			<a class="font-semibold hover:underline" href="https://aidxn.com/contact">let's chat</a>.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
